{% extends 'base.html.twig' %}


{% block title %}
	{{ parent() }}
	| Home
{% endblock %}

{% block body %}

	<div class="row">
		<section alt="My actualities">
			<div class="title rounded-pill my-2 float-start">
				<h3 class="text-white px-3 my-2">My actualities</h3>
			</div>

		</section>
		<li class="ms-4 text-white">Nothing curently</li>
		<section alt="Last Actualities">
			<div class="title rounded-pill my-2 float-start">
				<h3 class="text-white px-3 my-2">Last actualities</h3>
			</div>
		</section>
		<li class="ms-4 text-white">Nothing curently</li>
	</div>
	<div class="row justify-content-center">
		<h1 class="title rounded-pill d-flex justify-content-center text-white float-start my-2 px-3">This website is in construction by Deviniti team</h1>
	</div>

	<section class="testBubble row align-items-center mt-5 justify-content-center">
		<div class="box d-flex justify-content-center align-items-center">
			<h3 class="text-white">Frite</h3>
		</div>
		<div class="box d-flex justify-content-center align-items-center">
			<h3 class="text-white">Coca</h3>
		</div>
		<div class="box d-flex justify-content-center align-items-center">
			<h3 class="text-white">Salade</h3>
		</div>
		<div class="box d-flex justify-content-center align-items-center">
			<h3 class="text-white">JS</h3>
		</div>
	</section>
{% endblock %}
