@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

main {
  background: rgb(11, 34, 56);
  background: linear-gradient(
    100deg,
    rgba(11, 34, 56, 1) 0%,
    rgba(15, 42, 70, 1) 33%,
    rgba(22, 70, 119, 1) 59%,
    rgba(31, 126, 225, 1) 100%
  );
  margin: 0;
  padding: 0;
}

.dashboard section {
  min-height: 25vh;
}

.title {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.glass {
  background: rgba(255, 255, 255, 0.432);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.box {
  height: 200px;
  width: 200px;
  transition-duration: 2s;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  margin: -5px;
}

.box:hover {
  height: 200px;
  width: 200px;
  // background-color: red;
  // transform: translate(20px);
  animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10% {
    transform: translate3d(-4px, 0, 0);
  }
  20% {
    transform: translate3d(4px, 0, 0);
  }
  30%,
  50% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
  70% {
    transform: translate3d(0, 0, 0);
  }
}
header {
  height: 15vh;
  margin: 0;
  padding-top: 5vh;
}

#myVideo {
  z-index: -5;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.8;
  filter: contrast(120%);
  filter: opacity(50%);
  filter: brightness(80%);
}

.svgcont {
  text-align: center;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 70vw;
  top: -2px;
  margin-top: 2rem;
}

#argsvg1 path,
#argsvg1 line {
  stroke-width: 8px;
  stroke: white;
  fill: none;
}

#argsvg1:hover #ampoule2 {
  fill: rgba(246, 227, 123, 0.8);
}

.table-bottom {
  min-height: 1000px;
  margin: 0;
  padding: 0;
}

.tableG {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.tableDanger {
  background: rgba(255, 166, 166, 0.947);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.tableJoin {
  background: rgba(211, 255, 216, 0.82);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.tableView {
  background: rgba(172, 255, 251, 0.622);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.new-idea, .ideaz {
  height: 95vh;
}

.form-label {
  color: white;
}

.ideas td {
  min-height: 75px;
}

.project-detail{
  min-height: 80vh;
}

