@import "variables.scss";

.navbar {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

a {
    padding: 10px;
}

a:hover {
  background-color: black;
  border-radius: 20px;
  transition: 1s background-color;
}
