{% extends 'base.html.twig' %}

{% block title %}Edit Idea{% endblock %}

{% block body %}
    <h1>Edit Idea</h1>

    {{ include('idea/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_idea_index') }}">back to list</a>

    {{ include('idea/_delete_form.html.twig') }}
{% endblock %}
