{% extends 'base.html.twig' %}

{% block title %}New Idea
{% endblock %}

{% block body %}
	<main class="d-flex flex-column align-items-center new-idea mt-5">
		<h1 class="text-white my-4">Create new Idea</h1>
		<div class="d-flex justify-content-end mb-5">
			<a href="{{ path('home_index') }}" class="btn btn-primary">Back</a>
		</div>
		<div class="d-flex flex-column col-lg-6">
			{{ include('idea/_form.html.twig') }}

		</div>
	</main>
{% endblock %}
