{% extends 'base.html.twig' %}

{% block title %}New Idea
{% endblock %}

{% block body %}
	<main class="d-flex flex-column new-idea my-5">
		<div class="row title rounded float-start py-5">
			<div class="col-lg-6">
				<div class="row justify-content-center">
					<h1 class="text-white text-center my-4">Create new Idea</h1>
					<a href="{{ path('home_index') }}" class="btn title rounded-pill my-2 float-start w-25">Back</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row justify-content-center ">
					<div class="d-flex flex-column col-lg-6">
						{{ include('idea/_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
