{% block stylesheets %}
	{{ encore_entry_link_tags('navbar') }}
{% endblock %}
<div class="d-flex justify-content-center mt-3">
	<nav class="navbar navbar-expand-lg rounded-pill w-50">
		<div class="container d-flex justify-content-center">
			<div class="text-center gap-3">
				<a class="navbar-brand text-white" href="#">Accueil</a>
				<a class="navbar-brand text-white" href="#">Mon tableau de bord</a>
				<a class="navbar-brand text-white" href="#">Les idées</a>
			</div>
		</div>
	</div>
</nav>
