{% block stylesheets %}
	{{ encore_entry_link_tags('navbar') }}
{% endblock %}

<div class="d-flex justify-content-center mt-3">
	<nav class="navbar navbar-expand-lg rounded-pill float-start p-0">
		<div class="container d-flex justify-content-center">
			<div class="text-center d-flex gap-5">
				<a class="navbar-brand text-white m-0" href="/">Home</a>
<<<<<<< HEAD
				<a class="navbar-brand text-white m-0" href="/dashboard">Dashboard</a>
=======
				<a class="navbar-brand text-white m-0" href="/user">Dashboard</a>
>>>>>>> 15e4d417a60a16919f01ec946fcd96256822f5e8
				<a class="navbar-brand text-white m-0" href="#">Ideas</a>
			</div>
		</div>
	</nav>
</div>
