{% extends 'base.html.twig' %}


{% block title %}
	{{ parent() }}
	| Dashboard
{% endblock %}

{% block body %}

	<div class="row">
		<section alt="My actualities">
			<div class="title rounded-pill my-2 float-start">
				<h3 class="text-white px-3 my-2">My actualities</h3>
			</div>

		</section>
		<li class="ms-4 text-white">Nothing curently</li>
	</div>
	<div class="row justify-content-center">
		<h1 class="title rounded-pill d-flex justify-content-center text-white float-start my-2 px-3">This website is in construction by Deviniti team</h1>
	</div>
{% endblock %}